<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suping.i2w"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        <activity
            android:name="com.suping.i2w.Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.suping.i2w.leftmenu.LeftmenuActivity"
            android:label="@string/title_activity_leftmenu" >
        </activity>
        <activity
            android:name="com.suping.i2w.setting.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name="com.suping.i2w.setting.UserInfoActivity"
            android:label="@string/title_activity_user_info" >
        </activity>
        <activity
            android:name="com.suping.i2w.setting.GoalActivity"
            android:label="@string/title_activity_goal" >
        </activity>
        <activity
            android:name="com.suping.i2w.setting.AboutAppActivity"
            android:label="@string/title_activity_about_app" >
        </activity>
        <activity
            android:name="com.suping.i2w.setting.ConnectBluetoothActivity"
            android:label="@string/title_activity_connect_bluetooth" >
        </activity>
    </application>

</manifest>
